@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


/* Global */
:root {
--color-1: #000000;
--color-2: #ffffff;
--color-3: #AF7F1F;
--bg-color-media: #f0ffff1c;
--bg-color-hover: #af411f;
--font-principal:'Libre Baskerville', serif;
--font-secundaria:'Roboto', sans-serif;
--index: calc(1vw + 1vh);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
font-family: var(--font-secundaria);
}

html {
scroll-behavior: smooth;
transition: 1s all;
}

.box {
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
}


/* Ativações JS */
.barra-black {
background-color: var(--color-1);
}

nav.rolls {
background-color: var(--color-1);
box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.425);
}


/* Header */
header {
display: flex;
justify-content: center;
min-height: 100vh;
width: 100%;
overflow: hidden;
}

nav {
z-index: 999;
position: fixed;
display: flex;
align-items: center;
justify-content: space-between;
height: 16%;
width: 100%;
padding: 0 2%;
transition: all .2s ease-i;
}

.img-logo {
width: calc(var(--index) * 6);
margin: 0;
padding: 0;
}

nav ul {
display: flex;
align-items: center;
gap: 2rem;
}

li a {
font: 500 calc(var(--index) * 0.9) var(--font-principal);
color: var(--color-3);
transition: all .2s;
} 

li a:hover {
color: #e0a227e0;
}

header video {
position: absolute;
top: 0;
left: 0;
z-index: -2;
object-fit: cover;
width: 100%;
min-height: 100vh;
filter: brightness(28%);
}

.media {
position: fixed;
right: 0;
bottom: 20%;
background-color: var(--bg-color-media);
width: calc(var(--index) * 2.7);
height: calc(var(--index) * 7);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
border-radius: 6px 0 0 6px;
z-index: 999;
}

.media-mobile {
display: none;
} 

.media i{
font-size: calc(var(--index) * 1.1);
color: var(--color-3);
transition: all .2s ease-in;
} 

.media i:hover,
.media-mobile i:hover  {
transform: scale(1.1);
}

.btn-header {
position: absolute;
top: 65%;
min-width:calc(var(--index) * 9.3);
min-height: calc(var(--index) * 3.3);
font: 400 calc(var(--index) * .6) var(--font-secundaria);
letter-spacing: 1px;
background-color: transparent;
border: 1px solid var(--color-3);
color: var(--color-3);
border-radius: 8px;
cursor: pointer;
transition: all .5s ease;
}

.btn-header:hover {
background-color: var(--color-3);
border: none;
color: var(--color-1); 
}


/* About */
#about {
display: flex;
align-items: center;
min-height: 100vh;
background-color: var(--color-2);
padding: 3% 8%;
}

#about img {
width: 40%;
}

.box-txt p {
font-size: calc(var(--index) * 1);
line-height: calc(var(--index) * 1.5);
}

h2 {
text-align: center;
color: var(--color-3);
margin-bottom:  calc(var(--index) * 2);
font-size:  calc(var(--index) * 2);
font-family: var(--font-principal);
text-transform: uppercase;
}


/* Serviços */
#service {
background-color: var(--color-1);
min-height: 100vh;
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
padding: 10% 4%;
}

.logo-bigode {
width: 6%;
}
.grid-service {
position: relative;
cursor: pointer;
display: grid;
grid-gap: 10px;
align-items: center;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.ui-card {
border-radius: 5px;
background: radial-gradient(#111 50%, #000 100%);
overflow: hidden;
position: relative;
}

.ui-card img {
max-width: 100%;
transform: scale(1.3);
transition: all .3s ease-out;
}

.ui-card:hover img {
transform: scale(1.1);
opacity: .3;
}

.description {
display: flex;
align-items: center;
gap: 1rem;
flex-direction: column;
position: absolute;
left: 0;
bottom: 0;
text-align: center;
width: 100%;
padding: 15px;
color: var(--color-2);
font-size: 15px;
}

.description h3 {
font: 700 calc(var(--index) / 1) var(--font-secundaria);
margin: 0 0 20px;
transform: translateY(30px);
opacity: 0;
transition: all .3s ease-out;
}

.description p {
font-size: calc(var(--index) / 1.2);
transform: translateY(30px);
opacity: 0;
transition: all .3s ease-out;
}

.description a {
font-size: calc(var(--index) / 1.6);
color: var(--color-2);
background-color: var(--color-3);
padding:calc(var(--index) / 1.4);
border-radius: 5px;
transition: all .2s ease-in;
transform: translateY(30px);
opacity: 0;
transition: all .3s ease-out .1s;
}

.description a:hover {
background-color: var(--bg-color-hover);
}

.ui-card:hover .description h3,
.ui-card:hover .description p,
.ui-card:hover .description a {
opacity: 1;
transform: translateY(0);
}


/* Contato */
#contact {
font-size: calc(var(--index) / 1.2);
color: var(--color-3);
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
background-color: var(--color-1);
height: 90vh;
width: 100%;
}

.container-contact,
.container-contact ul {
display: flex;
flex-direction: column;
align-items: flex-start;
padding-bottom: 2rem;
gap: .8rem;
}

.container-contact ul li > i, 
.container-contact > i {
margin-right: 5px;
font-size: calc(var(--index) * 1);
}

iframe {
max-width: 70%;
border-radius: 5px;
}


/* Footer */
footer {
color: var(--color-3);
background-color: var(--color-1);
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: .5rem;
padding: 1% 0;
font-size: calc(var(--index) / 1.2);
}

footer span a {
color: var(--bg-color-hover);
text-decoration: underline;
}

